@import url("https://fonts.googleapis.com/css?family=Oswald");

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(5, 153, 212);
  font-family: 'Oswald', sans-serif;
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

h1 {
  letter-spacing: 3px;
  background: rgb(4, 108, 149);
  font-size: 3rem;
  padding: 10px 20px 15px;
  border-radius: 0 0 20px 20px;
}

.main {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 30px;
}

.letters {
  display: flex;
  font-size: 1.5rem;
  color: black;
  flex-wrap: wrap;
  font-weight: bold;
  width: 38%;
  background: rgb(4, 108, 149);
  border-radius: 20px;
  padding: 15px;
  /* justify-content: space-between; */
}

.letters div {
  background: rgb(255, 255, 255);
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 4px solid rgb(7, 138, 190);
  transition: border 0.4s;
}

.letters div:hover {
  border: 4px solid rgb(9, 185, 255);
}

.letters div:active {
  color: white;
  background: rgb(5, 153, 212);
}

.hangman {
  position: relative;
  /* margin-top: 50px; */
  width: 290px;
}

.top-block {
  width: 248px;
  height: 30px;
  background: black;
  position: absolute;
  right: 0
}

.side-block {
  width: 30px;
  height: 320px;
  background: black;
  position: absolute;
  right: 0;
}

.rope {
  width: 15px;
  height: 77px;
  background: rgb(54, 52, 52);
  position: absolute;
  left: 90px;
  display: none;
}

.head {
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 50%;
  position: absolute;
  left: 70px;
  top: 53px;
  border: 2px solid rgb(232, 144, 12);
  z-index: 1;
  display: none;
}

.torso {
  background: black;
  width: 60px;
  height: 100px;
  border-radius: 20px;
  position: absolute;
  left: 67px;
  top: 100px;
  border: 2px solid rgb(232, 144, 12);
  display: none;
}

.arm {
  background: black;
  width: 20px;
  height: 75px;
  border-radius: 20px;
  position: absolute;
  top: 105px;
  border: 2px solid rgb(232, 144, 12);
}

.arm-left {
  left: 56px;
  display: none;
}

.arm-right {
  left: 115px;
  display: none;
}

.leg {
  background: black;
  width: 25px;
  height: 85px;
  border-radius: 20px;
  position: absolute;
  top: 190px;
  border: 2px solid rgb(232, 144, 12);
}

.leg-left {
  left: 67px;
  display: none;
}

.leg-right {
  left: 99px;
  display: none;
}

.word {
  margin-top: 30px;
  background: rgb(4, 108, 149);
  padding: 10px 25px 20px;
  border-radius: 10px;
  font-size: 2rem;
  display: flex;
}

.word div {
  width: 20px;
  margin-left: 20px;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
  height: 50px;
}

.word div:nth-child(1) {
  margin: 0;
}

.word div span {
  display: none;
}

.game-over {
  padding: 10px 20px;
  background: rgb(175, 7, 7);
  margin-top: 20px;
  border-radius: 20px;
  display: none;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}
